NET "CLK" LOC = "B8";
NET "RESET" LOC = "G12";
NET "Anodo<0>" LOC = "K14";
NET "Anodo<1>" LOC = "M13";
NET "Anodo<2>" LOC = "J12";
NET "Anodo<3>" LOC = "F12";
NET "Catodo<0>" LOC = "L14";
NET "Catodo<1>" LOC = "H12";
NET "Catodo<2>" LOC = "N14";
NET "Catodo<3>" LOC = "N11";
NET "Catodo<4>" LOC = "P12";
NET "Catodo<5>" LOC = "L13";
NET "Catodo<6>" LOC = "M12";
NET "AddressRAM<2>" LOC = "F3";
NET "AddressRAM<1>" LOC = "G3";
NET "AddressRAM<0>" LOC = "B4";
NET "SalFZ" LOC = "B5";
NET "CW0" LOC = "C11";
NET "CW1" LOC = "M4";
NET "CW2" LOC = "A7";
NET "CW3" LOC = "P11";
NET "SEL_ALU<0>" LOC = "E2";
NET "SEL_ALU<1>" LOC = "N3";
NET "SalALU<7>" LOC = "G1";
NET "SalALU<6>" LOC = "P4";
NET "SalALU<5>" LOC = "N4";
NET "SalALU<4>" LOC = "N5";
NET "SalALU<3>" LOC = "P6";
NET "SalALU<2>" LOC = "P7";
NET "SalALU<1>" LOC = "M11";
NET "SalALU<0>" LOC = "M5";